.createOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #1a1a1d;
}

.createInnerContainer {
  width: 30%;
}

.createInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}

.createHeading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.createButton {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;

  border: none;
  width: 70%;
  align-items: center;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 55px) and (max-width: 800px) {
  .createOuterContainer {
    height: 100vh;
  }

  .createInnerContainer {
    width: 60%;
  }
  .createInput {
    border-radius: 0;
  }
}

button:focus {
  outline: 0;
}
