.linkContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px 0px blue;
  border: 1px solid;
  border-radius: 3px;
  margin: 4%;
  color: white;
  padding: 2%;
}
.linkClose {
  display: flex;
  justify-content: right;
  align-items: right;
  margin-left: 94%;
}
.link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.linkBlue {
  color: blue;
}
.link :hover {
  cursor: pointer;
}
.linkClose:hover {
  cursor: pointer;
}
.linkUrl {
  color: red;
}
